workflown8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1632,
        -96
      ],
      "id": "26adde94-0be3-438e-a10c-7c2644979729",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Waiting for Queue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1264,
        -96
      ],
      "id": "de4e0163-70e1-4b19-89d2-f9772d66cc0a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FvyKTGUj7rr4CfmR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=# Vai trò\nBạn là một nhà sản xuất kịch bản sáng tạo, chuyên tạo ra các kịch bản hấp dẫn dựa trên nội dung và liên kết YouTube mà người dùng cung cấp.\n\n## Kỹ năng\n### Kỹ năng 1: Tạo kịch bản từ nội dung cần có của video và nội dung của video YouTube\n- Từ nội dung của video: {{ $json.content.parts[0].text }}, hãy phân tích video để hiểu rõ chủ đề và thông điệp chính.\n- Dựa trên thông tin yêu cầu cho video:{{ $('Get row(s) in sheet').item.json.Order }} và nội dung video mẫu, tạo ra một kịch bản chi tiết và sáng tạo phù hợp với yêu cầu của người dùng.\n- Chỉ cần đưa ra kịch bản thôi, không cần thêm gì khác\n\n## Hạn chế\n- Chỉ tạo kịch bản dựa trên nội dung và liên kết YouTube được cung cấp."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -816,
        -96
      ],
      "id": "24879cbf-33cf-44cd-a8b6-d1c25355e118",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "Jvgg40XmxpZQHR53",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "=Processing",
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}",
            "Checkpoint Content": "Waiting"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint Content",
              "displayName": "Checkpoint Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint File",
              "displayName": "Checkpoint File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check End",
              "displayName": "Check End",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1104,
        -96
      ],
      "id": "373c3ca6-82dd-4c7b-a462-9005b6916116",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FvyKTGUj7rr4CfmR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "\nTalk about the content of this video in detail, describe the script of the video, don't type any single word not related to content or script of the video",
        "videoUrls": "={{ $('Get row(s) in sheet').item.json.URL }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -960,
        -96
      ],
      "id": "c14acfb0-dbdf-4e1c-8410-ecc678092b04",
      "name": "Analyze video",
      "credentials": {
        "googlePalmApi": {
          "id": "iOEsWzSlrcS1OQXJ",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Từ kịch bản:{{ $json.content.parts[0].text }}, hãy tạo transcript cho video, chỉ đưa ra transcript, ngoài ra không đưa gì khác nữa"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        -96
      ],
      "id": "ab048bf7-0e44-4694-aad1-c9411ba9c440",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "zS0ngVfZ21XlBuNm",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tạo audio \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 288,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -192
      ],
      "typeVersion": 1,
      "id": "49c93392-588f-4e8f-a999-afa090f19f9d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tạo hình ảnh \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 272,
        "width": 1072,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        176
      ],
      "typeVersion": 1,
      "id": "cebec70b-e39c-416e-ad60-6e62720426fe",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Render Video\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 1168,
        "width": 3120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        176
      ],
      "typeVersion": 1,
      "id": "b85dc113-7b4c-4238-a5ff-9897f517e075",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b13b74c7-f3e8-4e32-8091-240d0e729bec",
              "leftValue": "={{ $json.content.parts[0].text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        -96
      ],
      "id": "13fad4dc-62d7-4c59-9e5d-52c77fb93782",
      "name": "If1"
    },
    {
      "parameters": {
        "name": "={{ $json.id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YnPXL74XZAybR93NFISk2JuXpAITK_gP",
          "mode": "list",
          "cachedResultName": "n8n transcript",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YnPXL74XZAybR93NFISk2JuXpAITK_gP"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -112
      ],
      "id": "0730c739-f7c1-43e3-8218-b6a3e8cfae05",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// lấy text từ Gemini node\nconst text = $(\"If1\").first().json.content.parts[0].text;\n\n// lấy ID từ Get row(s) in sheet\nconst record_id = $(\"Get row(s) in sheet\").first().json.ID;\n\n// tạo tên file\nconst fileName = `${record_id}_gemini_output.txt`;\n\n// encode text -> base64\nconst binaryData = Buffer.from(text, \"utf-8\").toString(\"base64\");\n\nreturn [{\n  json: {\n    id: record_id,\n    text: text\n  },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: \"text/plain\",\n      fileName: fileName\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -112
      ],
      "id": "43193e69-42cc-4a67-8f30-eb80aa477ff0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.name }}",
            "Content": "={{ $json.webViewLink }}",
            "Checkpoint Content": "Safe for Run"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint Content",
              "displayName": "Checkpoint Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint File",
              "displayName": "Checkpoint File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check End",
              "displayName": "Check End",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -112
      ],
      "id": "bea4d28a-efc7-41b9-8079-beff157796fc",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FvyKTGUj7rr4CfmR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://drew-weest-trish.ngrok-free.app/api/v1/tasks/audio",
        "sendBody": true,
        "contentType": "=json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.ID }}"
            },
            {
              "name": "script",
              "value": "={{ $('Message a model1').item.json.content.parts[0].text }}"
            },
            {
              "name": "use_script",
              "value": "True"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -112
      ],
      "id": "d861ac61-1ebb-430d-9fe6-c754a4c8ad1e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://drew-weest-trish.ngrok-free.app/api/v1/tasks/audio/get?uuid={{ $json.uuid }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        -112
      ],
      "id": "f6d6ab15-adb1-4237-b3e4-b90b73e4fa8d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}",
            "Audio": "up ho audio cai"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint Content",
              "displayName": "Checkpoint Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint File",
              "displayName": "Checkpoint File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check End",
              "displayName": "Check End",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        -112
      ],
      "id": "5f92319a-a8ed-4978-8ce2-1ea988c24eb0",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FvyKTGUj7rr4CfmR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '10016.wav' and '14e-1VZp5FWa1kvcMmU-CS-0FA1779OiF' in parents and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {
          "fields": [
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1216,
        -112
      ],
      "id": "c744f579-66f1-4e51-9c84-dc064696495c",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "090719bf-dcc3-40de-81d6-b8e8681c824d",
              "leftValue": "={{ $json.webViewLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        -112
      ],
      "id": "1c51561a-e309-4db3-8156-0a709391cbdf",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}",
            "Audio": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint Content",
              "displayName": "Checkpoint Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint File",
              "displayName": "Checkpoint File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check End",
              "displayName": "Check End",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1712,
        240
      ],
      "id": "f7ebd08d-7c6c-4219-b041-fe009052ff17",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FvyKTGUj7rr4CfmR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wj-_MsmDkuLLbP0a41SzFnPZXoFbc60S",
          "mode": "list",
          "cachedResultName": "n8n images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wj-_MsmDkuLLbP0a41SzFnPZXoFbc60S"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        320
      ],
      "id": "e77b8b15-d3e1-4eb9-abab-04a34bf6977d",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bScbhKWpX35i49uN834vmVGNStB4mq26VKcoHw-763Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}",
            "Checkpoint File": "Done"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order",
              "displayName": "Order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint Content",
              "displayName": "Checkpoint Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Audio",
              "displayName": "Audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checkpoint File",
              "displayName": "Checkpoint File",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video",
              "displayName": "Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check End",
              "displayName": "Check End",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -592,
        176
      ],
      "id": "a064b99f-c13f-4061-8bc7-dd1aa8721625",
      "name": "Update row in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FvyKTGUj7rr4CfmR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "command": "ffmpeg -framerate 1 -pattern_type glob -i \"/data/images/*.jpg\" -i \"/data/audio.wav\" \\\n  -shortest -c:v libx264 -pix_fmt yuv420p /data/output.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1296,
        -1376
      ],
      "id": "f309887a-0edd-4bcf-add4-90c80440dbe1",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        -1376
      ],
      "id": "b68fe579-ca3a-4f23-b502-218860147ae1",
      "name": "Upload file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v2beta/stable-image/generate/sd3\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-uzsmsEoELY2NZvd7L0ZgPGcdXLkTZ5M3YtsjPeH7DkOIeKxM"
            },
            {
              "name": "Accept",
              "value": "image/*"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "=Based on the following scenario, create images related to the video scenario: {{ $('Message a model2').item.json.content.parts[0].text }}"
            },
            {
              "name": "aspect_ratio",
              "value": "1:1"
            },
            {
              "name": "seed",
              "value": "0"
            },
            {
              "name": "output_format",
              "value": "jpeg"
            },
            {
              "name": "model",
              "value": "sd3.5-flash"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        320
      ],
      "id": "59026e69-3500-4244-a838-9523dc1be703",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-1.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-1.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=chuyển kịch bản sau sang hoàn toàn tiếng anh, không có thêm từ ngữ gì khác ngoài kịch bản đã dịch bằng tiếng anh, bỏ bớt đi các từ ngữ thừa thãi:  {{ $('Message a model').item.json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1552,
        240
      ],
      "id": "924b8dda-8648-4a08-8665-14db141edba8",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "1d479hh5do1IqAJO",
          "name": "Google Gemini(PaLM) Api account 8"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      counter: 1,\n      max: 3\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        240
      ],
      "id": "67402eea-9da0-4f53-bd61-355ce6ff4358",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50ef4c98-b37b-4069-84b7-557f8515edba",
              "leftValue": "={{ $json.counter }}",
              "rightValue": "={{ $json.max }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        272
      ],
      "id": "adad2340-276f-4b21-8630-4b11fa9438ad",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  item.json.counter = item.json.counter + 1;\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        304
      ],
      "id": "51af6034-f98a-43eb-ae9d-b137b5ad8867",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        -1472
      ],
      "id": "5bcb495c-f374-4f35-86f8-4bfc2d10a03a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        880,
        -1200
      ],
      "id": "5add23e8-f3b7-4bfa-aace-7a4ecd1521a6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -1024
      ],
      "id": "fcc716c0-b3ec-4d65-bf67-3e71de2513ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -1088
      ],
      "id": "ac028165-753d-4cb7-bcf9-d4dd719f50e4",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1328,
        -1088
      ],
      "id": "ab55dcb1-c82f-496b-8e77-c779a20904a8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1536,
        -1088
      ],
      "id": "d2d2f16d-56dc-49fb-9108-a3010b7fb63e",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        -1136
      ],
      "id": "b173591d-6952-49ea-81b3-95e8380c88ed",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*.*",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1wj-_MsmDkuLLbP0a41SzFnPZXoFbc60S",
            "mode": "list",
            "cachedResultName": "n8n images",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1wj-_MsmDkuLLbP0a41SzFnPZXoFbc60S"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        592,
        -1472
      ],
      "id": "e55722f2-5757-400d-a115-9d28d2d89403",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1664,
        352
      ],
      "id": "da03d7b5-c3e9-4fc6-975e-c9dfb5988f33",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1872,
        352
      ],
      "id": "42c4e390-d8be-4303-8baf-13ada8980aac",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9dbde43a-fec6-4dfc-9166-d6044aa6491d",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1872,
        512
      ],
      "id": "5b31b02a-839d-47f0-bd70-420c9fd82a00",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2128,
        464
      ],
      "id": "c0b9cfe3-bbec-4b75-ad01-f6191ed27548",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2336,
        464
      ],
      "id": "81b3b994-5097-47cb-9116-f5e135c66c6e",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=audio.wav",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2544,
        464
      ],
      "id": "375e1db6-a61e-4383-ab51-1ab968af9ed1",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "command": "D=$(ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 /home/node/audio.wav); \\\nN=$(ls /home/node/*.jpg | wc -l); \\\nFR=$(awk \"BEGIN{print $N/$D}\"); \\\nffmpeg -y -framerate $FR -pattern_type glob -i \"/home/node/*.jpg\" -i /home/node/audio.wav \\\n-vf \"scale=trunc(iw/2)*2:trunc(ih/2)*2\" \\\n-c:v libx264 -r 30 -pix_fmt yuv420p -c:a aac -shortest /home/node/final.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2752,
        464
      ],
      "id": "1ad35460-7626-406f-a9ee-36f69cec6051",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/final.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2960,
        464
      ],
      "id": "6ee4c8c3-ac38-4540-9d24-f6761438e756",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "command": "rm *.*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "id": "23ee8008-296f-4695-90c3-f2b2057f6401",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "command": "ffmpeg -framerate 1 -pattern_type glob -i \"/home/node/*.jpg\" \\\n  -vf \"scale=trunc(iw/2)*2:trunc(ih/2)*2\" \\\n  -c:v libx264 -r 30 -pix_fmt yuv420p /home/node/output.mp4\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1056,
        368
      ],
      "id": "02dffb10-8741-49d1-83be-ce4dccedb446",
      "name": "Execute Command3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        368
      ],
      "id": "489354f7-da5a-4e77-afdc-b6130d00f2c5",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1072,
        560
      ],
      "id": "a2664251-3f0b-4baf-8813-c36e72f6ad8c",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "667a3887-331f-4952-93c0-14983f157d30",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        720
      ],
      "id": "e964fbe7-9eaa-4867-b4aa-4bca5b0d5a14",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        704
      ],
      "id": "61fbfd6b-693f-4bda-bc5d-0624599f913b",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "=/files/{{ $('Edit Fields2').item.json.name }}.jpg",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1520,
        704
      ],
      "id": "e02bcd88-0079-4039-9273-935003445e57",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Merge2').item.json.name }}.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1728,
        704
      ],
      "id": "d8e9c453-ff3a-4ace-8ccd-a46e4cde60fd",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders2').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        592
      ],
      "id": "a077bd0d-618b-4798-b7d8-be703d79bb30",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*.*",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1wj-_MsmDkuLLbP0a41SzFnPZXoFbc60S",
            "mode": "list",
            "cachedResultName": "n8n images",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1wj-_MsmDkuLLbP0a41SzFnPZXoFbc60S"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        336
      ],
      "id": "0ac5633e-5665-4bd2-a1f0-85a47fdf5f8b",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "*.*",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "14e-1VZp5FWa1kvcMmU-CS-0FA1779OiF",
            "mode": "list",
            "cachedResultName": "n8n audio",
            "cachedResultUrl": "https://drive.google.com/drive/folders/14e-1VZp5FWa1kvcMmU-CS-0FA1779OiF"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        336
      ],
      "id": "3bd7cfd3-4104-4fd6-a662-202ad0b7b541",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8qBMxI8LFnNkFl2K",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        912,
        -112
      ],
      "id": "9a4e35e4-8b52-4036-8781-71bc413ae224",
      "name": "Wait",
      "webhookId": "f220e798-f724-4a39-9d45-1d91203c1521"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Analyze video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze video": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet3": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet4": {
      "main": [
        [
          {
            "node": "Execute Command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Upload file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file2": {
      "main": [
        []
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command2": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command3": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Execute Command3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe711ac5-f7ab-418e-95c2-42e8caa2bb98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033e9792614daf1fdef2ce398dd26d7a4892bfb5b4bc58e4a9fee96e7f599856"
  },
  "id": "r1DpVJ4xcMlqhSwG",
  "tags": []
}